/* Variables */
*{
    padding: auto;
}
:root {
--fondo: #f9f9f9;
--textoPrincipal: #1a1a1a;
--primary: #2563eb;
--secundary: #e5e7eb;
--Acento : #22c55e;
--Hover: #8b5cf6;
--font-Principal: 'Poppins', sans-serif;
--font-Secundary: 'Roboto', sans-serif;
--font-size1: 1.2rem;
--font-size2: 1.5rem;
}

body {
    size: 100vh;
    position: relative;
    min-height: 100%;
    min-width: 600px;
    margin: 0;
    background-color: var(--fondo);
}

.hero{
    padding: 10px 3% 20px;;
    margin: 2%, 15% 2% ;
    background-color: var(--secundary);
    border-radius: 1%;
    box-shadow: #1a1a1a 0px 0px 2px 0px;
}

.foto_perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 16px auto;
}

.container_titulo {
    font-family: var(--font-Secundary);
    font-size: var(--font-size2);
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
}

.container_social{
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container_sobre_mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border-bottom: #2563eb solid 1px;
}


.tec_iconos {
    color: var(--primary);
    width: 32px;
    height: 32px;
}